:root{
	--mainColor:#607051;
	--secondaryColor:#5b6650;

	--borderColor:#161914;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(79, 90, 67, 0.8);
	--previewShadow:#2a2f25;


	--buttonColor:#669966;


}
